* {
  font-family: monaco;
}

#container {
	display: inline-block;
}
.header {
	display: inline-block;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}