<html>
	<head>
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	  <link rel="stylesheet" href="/resources/demos/style.css">
	  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  <script>
	  $( function() {
	    $( "#datepicker" ).datepicker({
	    	yearRange: "-100:+0",
	      changeMonth: true,
	      changeYear: true
	    });
	  } );
	  </script>
	</head>
	<body>
		<div id='container'>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					<ul class=flashes>
						{% for category, message in messages %}
							<li class="{{ category }}">{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}

			<form action='users/register' method='post'>
				<h1>Registration</h1>
				Name:<input type="text" name='name'><br>
				Alias: <input type="text" name='alias'><br>
				Email: <input type="text" name='email'><br>
				Password: <input type="password" name='password'><br>
				Confirm pw: <input type="password" name='c_password'><br>
				Date of Birth:<input type="text" id="datepicker"></p><br>
				<input type='submit' value='Register'>
			</form>
			<form action='/users/friends' method='post'>
				<h1>Login</h1>
				Email:<input type="text" name='email'><br>
				Password:<input type="password" name='password'><br>
				<input type='submit' value='Login'>
			</form>
		</div>
	</body>
</html>
