<html>
<head>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<title></title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{message}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<div id='container'>
		<div class='header'>
			<p>Welcome {{session['name']}}! </p>
		</div>
		<div class='header'>
			<form action='/logout' method='post'>
			<input type='submit' value='logout'>
			</form>
		</div>

		<p>Here is your wish list:</p>

		<table>

		<tr>
			<th>Item</th>
			<th>Added By</th>
			<th>Date Added</th>
			<th>Action</th>
			</tr>
			{% for friend in friends %}
			<tr>
				<td> <a href="/wish_items/{{friend['id']}}"> {{friend['item']}}</a> </td>
				<td> {{friend['name']}} </td>
				<td> {{friend['created_at']}} </td>
				<td> <form action='/removefriend/{{friend.user_id}}' method='post'><input type='Submit' value='Remove From Wishlist'></form>
						<form action='/user/{{friend['id']}}' method='get'><input type='Submit' value='Delete'></form> 
				</td>

			</tr>
			{% endfor %}
		</table>



		<p>Other users not on your friend's list</p>
			<table>
		<tr>
			<th>Item</th>
			<th>Added By</th>
			<th>Date Added</th>
			<th>Action</th>
			</tr>
			{% for non_friend in non_friends %}
			<tr>
				<td><a href="/wish_items/{{non_friend['id']}}"> {{non_friend['item']}}</a> </td>
				<td> {{non_friend['name']}} </td>
				<td> {{non_friend['created_at']}} </td>
				<td> <form action='/addfriend/{{non_friend.id}}' method='post'><input type='Submit' value='Add To My Wishlist'></form>
				</td>

			</tr>
			{% endfor %}

			</table>
			<br><br>
<a href="/wish_items/create">Add Item</a>

	</div>
</body>
</html>