<html>
<head>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<title></title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{message}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<div id='container'>
		<div class='header'>
			<p>Welcome {{session['name']}}! </p>
		</div>
		<div class='header'>
			<form action='/logout' method='post'>
			<input type='submit' value='logout'>
			</form>
		</div>

		<p>Here is a list of all your friends:</p>

		<table>

		<tr>
			<th>Alias</th>
			<th>Action</th>
			</tr>
			{% for friend in friends %}
			<tr>
				<td> {{friend['alias']}} </td>
				<td> <form action='/user/{{friend['id']}}' method='get'><input type='Submit' value='View Profile'></form> 
					<form action='/removefriend/{{friend['id']}}' method='post'><input type='Submit' value='Remove Friend'></form></td>
			</tr>
			{% endfor %}
		</table>



		<p>Other users not on your friend's list</p>
			<table>
			  <tr>
				<th>Alias</th>
				<th>Action</t>
			  </tr>

			{% for non_friend in non_friends %}
						<tr>
							<td><a href="/user/{{non_friend['id']}}">{{non_friend['alias']}}</a></td>
							<td><form action='/addfriend/{{non_friend['id']}}' method='post'> <input type='Submit' value='Add Friend'></form></td>
						</tr>
			{% endfor %}

			</table>


	</div>
</body>
</html>